table {
  border-collapse: collapse;
}
td {
  width: 50px;
  height: 25px;
  border: 1px solid #ddd;
}
.block {
  background-color: brown;
}
.water {
  background-color: lightblue;
}
.empty {
  background-color: white;
}
